<div class="page-content">
  <app-backward
    linkText="{{ 'EDIT_COMMISSION_FEE' | translate }}"
    backwardLink="/admin/settings/commission-fee"
  ></app-backward>

  <div class="form-content">
    <form [formGroup]="commissionFeeEditForm">
      <div class="row">
        <div class="col-4 mb-5 form-group">
          <label for="commissionFee" class="form-label"
            >{{ "COMMISSION_FEE" | translate }} *</label
          >
          <input
            type="text"
            class="form-control"
            id="commissionFee"
            formControlName="commissionFee"
            name="commissionFee"
            [(ngModel)]="commissionFeeValue"
            placeholder="{{ 'COMMISSION_FEE' | translate }}"
            required
          />
          <div
            class="error-messages"
            *ngIf="
              formSubmitted &&
              commissionFeeEditForm.get('commissionFee')?.hasError('required')
            "
          >
            {{ "COMMISSION_FEE_REQUIRED" | translate }}
          </div>
          <div
            class="error-messages"
            *ngIf="
              formSubmitted &&
              commissionFeeEditForm
                .get('commissionFee')
                ?.hasError('invalidNumber')
            "
          >
            {{ "COMMISSION_FEE_INVALID_NUMBER" | translate }}
          </div>
        </div>
      </div>
    </form>
  </div>

  <app-form-actions
    buttonPrimaryText="{{ 'SUBMIT' | translate }}"
    (submitForm)="submitForm()"
    (cancel)="cancel()"
  ></app-form-actions>
</div>
