<app-table-filters
  pageTitle="{{ 'BUSINESS_INDUSTRY_SUB_CATEGORY' | translate }}"
  buttonText="{{ 'NEW_SUB_BUSINESS_INDUSTRY' | translate }}"
  [buttonLink]="'/admin/sub-business-industry/add'"
  [showAdditionalButton]="true"
  [showDateFilter]="true"
  (SearchChanged)="onSearchChanged($event)"
  (dateRangeChanged)="
    onDateRangeFilterApplied({
      fromDate: $event.startDate,
      toDate: $event.endDate
    })
  "
>
  <div class="d-flex align-items-center gap-2" dropDownFilter>
    <span class="filter-label">{{
      "FILTER_BY_BUSINESS_INDUSTRY" | translate
    }}</span>
    <div
      style="
        min-width: 185px;
        max-width: 185px;
        position: relative;
        z-index: 9999;
      "
    >
      <ng-select
        class="dark-theme"
        [placeholder]="'BUSINESS_INDUSTRY' | translate"
        [searchable]="true"
        bindValue="id"
        bindLabel="name"
        [appendTo]="'body'"
        [(ngModel)]="parentCategoryId"
        (ngModelChange)="loadData()"
        [items]="categories | translateOptions | async"
        [notFoundText]="'NO_ITEMS' | translate"
      >
        <ng-template ng-option-tmp let-item="item" let-index="index">
          {{ item | localizedName : "name" | async }}
        </ng-template>
      </ng-select>
    </div>
  </div>
</app-table-filters>

<div class="table-container">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="nameEn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "BUSINESS_INDUSTRY_SUB_CATEGORY_IN_ENGLISH" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="link">
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nameAr">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "BUSINESS_INDUSTRY_SUB_CATEGORY_IN_ARABIC" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="link">
        {{ element.nameAr }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "CATEGORY" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="link">
        {{ element.parentCategory | localizedName : "name" | async }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="d-flex justify-content-end"
      >
        {{ "ACTIONS" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="d-flex justify-content-end">
        <div class="actions-menu">
          <div class="actions-menu-btn" [matMenuTriggerFor]="menu">
            <mat-icon
              aria-hidden="false"
              aria-label="more icon"
              fontIcon="more_vert"
            ></mat-icon>
          </div>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              class="menu-link"
              [routerLink]="['/admin/skills']"
              [queryParams]="{ id: element.id }"
            >
              {{ "VIEW_DETAILS" | translate }}
            </button>
            <button
              mat-menu-item
              class="menu-link"
              [routerLink]="['/admin/sub-business-industry/edit', element.id]"
            >
              {{ "EDIT" | translate }}
            </button>
            <button
              mat-menu-item
              class="menu-link danger-text"
              (click)="delete(element.id)"
            >
              {{ "DELETE" | translate }}
            </button>
          </mat-menu>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<!-- Pagination -->
<div class="table-pagination">
  <mat-paginator
    [showFirstLastButtons]="true"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [length]="totalRecords"
    (page)="onPageChanged($event)"
  ></mat-paginator>
</div>
