<div class="page-content">
  <app-backward
    linkText="{{ 'ADD_BUSINESS_INDUSTRY_CATEGORY' | translate }}"
    [backwardLink]="backUrl"
  ></app-backward>

  <div class="form-content">
    <form [formGroup]="form">
      <div class="row align-items-center g-5">
        <div class="col-12">
          <div class="form-group">
            <label for="type" class="form-label"
              >{{ "BUSINESS_INDUSTRY_CATEGORY_IN_ARABIC" | translate }} *</label
            >
            <input
              type="text"
              class="form-control"
              id="categoryAr"
              formControlName="categoryAr"
              name="categoryAr"
              placeholder="{{
                'BUSINESS_INDUSTRY_CATEGORY_IN_ARABIC' | translate
              }}"
              required
            />
            <div
              class="error-messages no-spacing mt-2 no-spacing mt-2"
              *ngIf="
                formSubmitted && form.get('categoryAr')?.hasError('required')
              "
            >
              {{ "CATEGORY_REQUIRED" | translate }}
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="type" class="form-label"
              >{{
                "BUSINESS_INDUSTRY_CATEGORY_IN_ENGLISH" | translate
              }}
              *</label
            >
            <input
              type="text"
              class="form-control"
              id="categoryEn"
              formControlName="categoryEn"
              name="categoryEn"
              placeholder="{{
                'BUSINESS_INDUSTRY_CATEGORY_IN_ENGLISH' | translate
              }}"
              required
            />
            <div
              class="error-messages no-spacing mt-2"
              *ngIf="
                formSubmitted && form.get('categoryEn')?.hasError('required')
              "
            >
              {{ "CATEGORY_REQUIRED" | translate }}
            </div>
          </div>
        </div>
        <div class="mb-5 col-12">
          <div class="form-group">
            <app-file-uploader
              [title]="'CATEGORY_PHOTO' | translate"
              formControlName="categoryPhoto"
            ></app-file-uploader>
            <div
              class="error-messages mt-2 no-spacing"
              *ngIf="
                formSubmitted && form.get('categoryPhoto')?.hasError('required')
              "
            >
              {{ "CATEGORY_PHOTO_REQUIRED" | translate }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <app-form-actions
    buttonPrimaryText="{{ 'SUBMIT' | translate }}"
    (submitForm)="submitForm()"
    (cancel)="cancel()"
  ></app-form-actions>
</div>
