.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #15171a;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}
:host ::ng-deep .tox .tox-edit-area__iframe {
    
    background-color: #262A2F !important ;
    border: 1px solid white;
    height: 200px;

 
}

.editor {

  overflow: scroll; 
}

.text-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .centered {
    font-family: sans-serif;
    font-size: 1.3em;
    text-align:center;
  }
  
  .dropzone {
    text-align: center;
      padding: 30px;
      height: 200px;
      display: table;
      width: 100%;
      background-color:#262A2F;
      border: dotted 1px #aaa;
  }
  
  input[type="file"]{
    display:none;
  }

  .del-ico:hover {
   color: white;
  }
