<app-table-filters
  pageTitle="{{ 'FAQS_TITLE' | translate }}"
  [showSearchFiltre]="true"
  buttonText="{{ 'ADD_NEW_FAQ' | translate }}"
  (SearchChanged)="onSearchChanged($event)"
  (dateRangeChanged)="
    onDateRangeFilterApplied({
      fromDate: $event.startDate,
      toDate: $event.endDate
    })
  "
  [showDateFilter]="true"
  buttonLink="/admin/settings/faq-add"
  [showAdditionalButton]="true"
></app-table-filters>

<div class="table-container">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "ID" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="question">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "QUESTION" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.question }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="answer">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "ANSWER" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.answer }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="d-flex justify-content-end"
      >
        {{ "ACTIONS" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="d-flex justify-content-end">
        <div class="actions-menu">
          <div class="actions-menu-btn" [matMenuTriggerFor]="menu">
            <mat-icon
              aria-hidden="false"
              aria-label="more icon"
              fontIcon="more_vert"
            ></mat-icon>
          </div>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              class="menu-link"
              [routerLink]="['/admin/settings/faq-edit', element.id]"
            >
              {{ "EDIT" | translate }}
            </button>
            <button
              mat-menu-item
              class="menu-link danger-text"
              (click)="deleteFAQ(element.id)"
            >
              {{ "DELETE" | translate }}
            </button>
          </mat-menu>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<div class="table-pagination">
  <mat-paginator
    [showFirstLastButtons]="true"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [length]="totalRecords"
    (page)="onPageChanged($event)"
  >
  </mat-paginator>
</div>
