    <div class="page-content">

  <app-backward linkText="{{ 'ADD_DEPT_TITLE' | translate }}" backwardLink="/admin/settings/departments"></app-backward>

  <div class="form-content">
    <form [formGroup]="deptAddForm">
      <app-department-form [departmentForm]="deptAddForm" [formSubmitted]="formSubmitted"></app-department-form>
    </form>
  </div>

  <app-form-actions buttonPrimaryText="{{ 'CREATE_DEPT' | translate }}" (submitForm)="submitForm()" (cancel)="cancel()"></app-form-actions>

</div>
