<app-table-filters
  pageTitle="{{ 'COMPANY_REGISTRATIONS_CR_APPROVALS' | translate }}"
  [showDateFilter]="true"
  (SearchChanged)="onSearchChanged($event)"
  [showAdditionalButton]="false"
  [showExportBtn]="true"
  (dateRangeChanged)="
    onDateRangeFilterApplied({
      fromDate: $event.startDate,
      toDate: $event.endDate
    })
  "
>
</app-table-filters>

<!-- APPROVE - DECLINE COLUMNS -->
<ng-template #approveDeclineActionBtns let-element>
  <div class="d-flex gap-3">
    <button (click)="onApprove(element)" class="btn btn-primary">
      {{ "APPROVE" | translate }}
    </button>
    <button (click)="onDecline(element)" class="btn btn-danger">
      {{ "DECLINE" | translate }}
    </button>
  </div>
</ng-template>

<!-- CR CERTIFICATE COLUMN -->
<ng-template #crCertificateTemplate let-element>
  <div class="d-flex flex-column gap-1">
    <a
      class="text-primary text-underline"
      [href]="element?.cr?.photo | secureUrl | async"
      target="_blank"
      >{{ "CERTIFICATE" | translate }}</a
    >
    <span class="date" style="font-size: 10px">
      {{ "EXPIRES_AT" | translate }}
      {{ element?.cr?.expiredDate | date }}
    </span>
  </div>
</ng-template>
<app-table
  [showActions]="false"
  [tableConfig]="tableConfig"
  [responseData]="responseData"
  [pageSize]="pageSize"
  [showEdit]="false"
  [showDelete]="false"
  (onPageChangeEvt)="onPageChanged($event)"
>
</app-table>
