@import "../../../../assets/variables.scss";

.password-input {
  position: relative;
  .show-hide-password {
    position: absolute;
    right: $spacing;
    top: 9px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: $placeholder-grey;
  }
}

body.arabic {
  :host {
    .password-input {
      .show-hide-password {
        left: $spacing;
        right: auto;
      }
    }
  }
}

