<div class="password-input">
  <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="{{ id }}" name="password" placeholder="{{ placeholder }} *" required [(ngModel)]="password">
  <button class="show-hide-password" type="button" (click)="togglePasswordVisibility()">
    <mat-icon *ngIf="showPassword" aria-hidden="false" aria-label="Hide Password icon" fontIcon="visibility"></mat-icon>
    <mat-icon *ngIf="!showPassword" aria-hidden="false" aria-label="Show Password icon" fontIcon="visibility_off"></mat-icon>
  </button>
</div>
