<div class="page-content">
  <app-backward
    linkText="{{ 'Edit_BUSINESS_INDUSTRY_SKILL' | translate }}"
    [backwardLink]="backUrl"
  ></app-backward>

  <div class="form-content">
    <form [formGroup]="form">
      <div class="row align-items-center g-5">
        <div class="col-12">
          <div class="form-group">
            <label for="nameAr" class="form-label"
              >{{ "BUSINESS_INDUSTRY_SKILLS_IN_ARABIC" | translate }} *</label
            >
            <input
              type="text"
              class="form-control"
              id="nameAr"
              formControlName="nameAr"
              name="nameAr"
              placeholder="{{
                'BUSINESS_INDUSTRY_SKILLS_IN_ARABIC' | translate
              }}"
              required
            />
            <div
              class="error-messages no-spacing mt-2 no-spacing mt-2"
              *ngIf="formSubmitted && form.get('nameAr')?.hasError('required')"
            >
              {{ "SKILL_REQUIRED" | translate }}
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="name" class="form-label"
              >{{ "BUSINESS_INDUSTRY_SKILLS_IN_ENGLISH" | translate }} *</label
            >
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              name="name"
              placeholder="{{
                'BUSINESS_INDUSTRY_SKILLS_IN_ENGLISH' | translate
              }}"
              required
            />
            <div
              class="error-messages no-spacing mt-2"
              *ngIf="formSubmitted && form.get('name')?.hasError('required')"
            >
              {{ "SKILL_REQUIRED" | translate }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <app-form-actions
    buttonPrimaryText="{{ 'SUBMIT' | translate }}"
    (submitForm)="submitForm()"
    (cancel)="cancel()"
  ></app-form-actions>
</div>
