<div class="page-content">
  <app-backward
    linkText="{{ 'EDIT_CITY_TITLE' | translate }}"
    backwardLink="/admin/settings/area-management"
  ></app-backward>

  <div class="form-content">
    <form [formGroup]="cityEditForm">
      <app-city-form
        [cityForm]="cityEditForm"
        [formSubmitted]="formSubmitted"
      ></app-city-form>
    </form>
  </div>

  <app-form-actions
    buttonPrimaryText="{{ 'UPDATE' | translate }}"
    (submitForm)="submitForm()"
    (cancel)="cancel()"
  ></app-form-actions>
</div>
