<div
  class="page-content total-orders mb-4 d-flex justify-content-between align-items-center px-4 py-3"
  style="min-height: 140px"
>
  <div>
    <h6 class="text-uppercase fw-bold mb-4">{{ title | translate }}</h6>
    <p *ngIf="number || +number === 0; else placeholder" class="mb-0 fs-2">
      {{ number }}
    </p>
  </div>
  <div class="icon">
    <ng-content></ng-content>
  </div>
</div>

<ng-template #placeholder>
  <div style="height: 45px; display: flex; align-items: center">
    <div style="width: 20px; height: 25px" class="placeholder"></div>
  </div>
</ng-template>
